@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Rubik", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "Cera Round Pro", sans-serif;
}

.body__without__footer{
  min-height: calc(100vh - 209px);
}